Repository navikt/pensjonsbrev, changes with the owners that CODEOWNERS names for each.
All owners: @navikt/pensjonsbrev, @navikt/etterlatte, @navikt/pensjon-ufore

CODEOWNERS:

* @navikt/pensjonsbrev
/etterlattemaler @navikt/etterlatte @navikt/pensjonsbrev
/pensjonsmaler @navikt/pensjon-ufore @navikt/pensjonsbrev
/pensjon-brevbaker-api-model @navikt/pensjon-ufore @navikt/pensjonsbrev

Deaktiver cache av integrationTest target (#1279)
  pensjon-brevbaker/build.gradle.kts
Owners: @navikt/pensjonsbrev

Støtte i DSL-en for å sjekke isNull, på tilsvarande vis som notNull()
  brevbaker-dsl/src/main/kotlin/no/nav/pensjon/brev/template/dsl/expression/Base.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/dsl/expression/BaseTest.kt
Owners: @navikt/pensjonsbrev

Ikke vis lokalprint alerts dersom brevet ikke er klar til sending
  skribenten-web/frontend/src/routes/saksnummer_/$saksId/brevbehandler/-components/BrevbehandlerMeny.tsx
Owners: @navikt/pensjonsbrev

Ikke vis lokalprint alerts dersom brevet ikke er klar til sending (#1281)
  skribenten-web/frontend/src/routes/saksnummer_/$saksId/brevbehandler/-components/BrevbehandlerMeny.tsx
Owners: @navikt/pensjonsbrev

Api-model-modulane har jo inga avhengnad eller tilknytting til dsl-en, så fjernar lyttinga frå byggejobben
  .github/workflows/brevbaker-api-model.yaml
Owners: @navikt/pensjonsbrev

Endre service for pdf-bygger til port 80 og brevbaker til å bruke port 80
  pdf-bygger/.nais/nais.yaml
  pensjon-brevbaker/.nais/nais.yaml
Owners: @navikt/pensjonsbrev

Fikser logikk slik at manglende 4/5-dels avsnitt vises
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/EtterlatteBrev.kt
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/vedlegg/barnepensjon/BeregningAvBarnepensjon.kt
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/vedlegg/omstillingsstoenad/BeregningAvOmstillingsstoenad.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

Fikser logikk slik at manglende 4/5-dels avsnitt vises (#1283)
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/EtterlatteBrev.kt
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/vedlegg/barnepensjon/BeregningAvBarnepensjon.kt
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/vedlegg/omstillingsstoenad/BeregningAvOmstillingsstoenad.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

PL-7914: Ny mal UT_ENDRET_PGA_INNTEKT med nytt grensesnitt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/api/TemplateLibrary.kt
  pensjonsmaler/build.gradle.kts
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/FeatureToggles.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektLegacy.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/LegacySelectors.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/EndretUfoeretrygdPGAInntekt.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/SprakFunksjoner.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/EndretUfoeretrygdPGAInntektDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektTest.kt
Owners: @navikt/pensjonsbrev, @navikt/pensjon-ufore

Endre service for pdf-bygger til port 80 og brevbaker til å bruke port 80 (#1282)
  pdf-bygger/.nais/nais.yaml
  pensjon-brevbaker/.nais/nais.yaml
Owners: @navikt/pensjonsbrev

Forbedre visning av brevmaler med ellipsis for lange titler og justering av HStack
  skribenten-web/frontend/src/routes/saksnummer_/$saksId/brevvelger/route.tsx
Owners: @navikt/pensjonsbrev

PL-7914: Ny mal UT_ENDRET_PGA_INNTEKT med nytt grensesnitt (#1274)
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/api/TemplateLibrary.kt
  pensjonsmaler/build.gradle.kts
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/FeatureToggles.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektLegacy.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/LegacySelectors.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/EndretUfoeretrygdPGAInntekt.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/SprakFunksjoner.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/EndretUfoeretrygdPGAInntektDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektTest.kt
Owners: @navikt/pensjonsbrev, @navikt/pensjon-ufore

Forbedre visning av brevmaler med ellipsis for lange titler og justering av HStack (#1284)
  skribenten-web/frontend/src/routes/saksnummer_/$saksId/brevvelger/route.tsx
Owners: @navikt/pensjonsbrev

Flyttar pesys-spesifikk logikk over til pensjonsmaler-modulen
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/api/TemplateLibrary.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/Maloverstyring.kt
Owners: @navikt/pensjonsbrev, @navikt/pensjon-ufore

Rebase mot main
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/Maloverstyring.kt
Owners: @navikt/pensjon-ufore, @navikt/pensjonsbrev

Går opp til Java 21
  .github/workflows/brevbaker-api-model.yaml
  .github/workflows/codeql.yml
  .github/workflows/pdfbygger-brevbaker.yml
  .github/workflows/skribenten.yml
  .github/workflows/template-model-generator.yml
  .github/workflows/tjenestebuss-integrasjon.yml
  gradle.properties
  pdf-bygger/Dockerfile
  pensjon-brevbaker/Dockerfile
  skribenten-backend/Dockerfile
  tjenestebuss-integrasjon/Dockerfile
Owners: @navikt/pensjonsbrev

Oppsett for biblioteket
  brevbaker/build.gradle.kts
Owners: @navikt/pensjonsbrev

Versjonar for dei versjonerte modulane
  brevbaker-api-model-common/build.gradle.kts
  gradle.properties
  pensjon-brevbaker-api-model/build.gradle.kts
  pensjonsmaler/build.gradle.kts
Owners: @navikt/pensjonsbrev, @navikt/pensjon-ufore

Med nyaste kotlin ser alt ut til å fungere strålande
  gradle.properties
Owners: @navikt/pensjonsbrev

Api-model-modulane har jo inga avhengnad eller tilknytting til dsl-en, så fjernar lyttinga frå byggejobben
  .github/workflows/brevbaker-api-model.yaml
Owners: @navikt/pensjonsbrev

WIP
  brevbaker-api-model-common/build.gradle.kts
  brevbaker-api-model-common/src/main/kotlin/no/nav/pensjon/brev/api/model/maler/LetterRequest.kt
  brevbaker-dsl/build.gradle.kts
  brevbaker-dsl/src/main/kotlin/no/nav/pensjon/brev/PDFRequest.kt
  gradle.properties
  locust/locustfile.py
  pdf-bygger/.nais/async/test-success-topic-q2.yaml
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/kafka/KafkaModule.kt
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/kafka/PdfRequestConsumer.kt
  pensjon-brevbaker-api-model/build.gradle.kts
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/api/TemplateResource.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/latex/LatexAsyncCompilerService.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/routing/LetterRoutes.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/routing/Routing.kt
  skribenten-backend/build.gradle.kts
Owners: @navikt/pensjonsbrev, @navikt/pensjon-ufore

Rett versjon
  .github/workflows/brevbaker-api-model.yaml
Owners: @navikt/pensjonsbrev

Revert "PL-7914: Ny mal UT_ENDRET_PGA_INNTEKT med nytt grensesnitt (#1274)"
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/api/TemplateLibrary.kt
  pensjonsmaler/build.gradle.kts
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/FeatureToggles.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektLegacy.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/LegacySelectors.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/EndretUfoeretrygdPGAInntekt.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/SprakFunksjoner.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/EndretUfoeretrygdPGAInntektDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektTest.kt
Owners: @navikt/pensjonsbrev, @navikt/pensjon-ufore

Revert "PL-7914: Ny mal UT_ENDRET_PGA_INNTEKT med nytt grensesnitt (#1274)" (#1286)
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/api/TemplateLibrary.kt
  pensjonsmaler/build.gradle.kts
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/FeatureToggles.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektLegacy.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/LegacySelectors.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/EndretUfoeretrygdPGAInntekt.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/SprakFunksjoner.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/EndretUfoeretrygdPGAInntektDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektTest.kt
Owners: @navikt/pensjonsbrev, @navikt/pensjon-ufore

WIP
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/kafka/KafkaModule.kt
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/kafka/PdfRequestConsumer.kt
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/latex/LatexCompileService.kt
Owners: @navikt/pensjonsbrev

Ny endring frå main
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/Maloverstyring.kt
Owners: @navikt/pensjon-ufore, @navikt/pensjonsbrev

Import som ikkje skulle med lenger
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/Maloverstyring.kt
Owners: @navikt/pensjon-ufore, @navikt/pensjonsbrev

Milestone. Reply queue production works.
  locust/autobrev_request_async.json
  locust/locustfile.py
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/kafka/PdfRequestConsumer.kt
Owners: @navikt/pensjonsbrev

Cleaning up producers on repartition.
  pdf-bygger/.nais/async/nais.yaml
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/kafka/KafkaModule.kt
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/kafka/PdfRequestConsumer.kt
Owners: @navikt/pensjonsbrev

Støtte i DSL-en for å sjekke isNull, på tilsvarande vis som notNull() (#1280)
  .github/workflows/brevbaker-api-model.yaml
  brevbaker-dsl/src/main/kotlin/no/nav/pensjon/brev/template/dsl/expression/Base.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/dsl/expression/BaseTest.kt
Owners: @navikt/pensjonsbrev

Endret tekst farge til kun hvit på valgt kladd
  skribenten-web/frontend/src/routes/saksnummer_/$saksId/brevvelger/route.tsx
Owners: @navikt/pensjonsbrev

Flyttar pesys-spesifikk logikk for val av mal over til pensjonsmaler-modulen (#1285)
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/api/TemplateLibrary.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/Maloverstyring.kt
Owners: @navikt/pensjonsbrev, @navikt/pensjon-ufore

Lettere oppsett for lokal kjøring av brevbaker
  pensjon-brevbaker/README.md
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/BrevbakerAppModule.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/FeatureToggleHandler.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/routing/Routing.kt
  pensjon-brevbaker/src/main/resources/application-local.conf
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/TestBrevbakerApp.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/TestUtils.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/routing/TemplateRoutesTest.kt
  pensjon-brevbaker/src/test/resources/application.conf
Owners: @navikt/pensjonsbrev

Fiks readme
  pensjon-brevbaker/README.md
Owners: @navikt/pensjonsbrev

Fiks integrasjonstest
  brevbaker-dsl/src/main/kotlin/no/nav/pensjon/brev/api/model/FeatureToggle.kt
  brevbaker/src/testFixtures/kotlin/no/nav/brev/brevbaker/IntegrationTestUtils.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/maler/example/LetterExampleTest.kt
Owners: @navikt/pensjonsbrev

PL-7914: Ny mal UT_ENDRET_PGA_INNTEKT med nytt grensesnitt (#1274)
  pensjonsmaler/build.gradle.kts
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/FeatureToggles.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/Maloverstyring.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektLegacy.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/LegacySelectors.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/EndretUfoeretrygdPGAInntekt.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/SprakFunksjoner.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/EndretUfoeretrygdPGAInntektDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektTest.kt
Owners: @navikt/pensjon-ufore, @navikt/pensjonsbrev

PL-7914: Ny mal UT_ENDRET_PGA_INNTEKT med nytt grensesnitt (#1274) (#1290)
  pensjonsmaler/build.gradle.kts
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/FeatureToggles.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/Maloverstyring.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektLegacy.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/LegacySelectors.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/EndretUfoeretrygdPGAInntekt.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/SprakFunksjoner.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/EndretUfoeretrygdPGAInntektDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektTest.kt
Owners: @navikt/pensjon-ufore, @navikt/pensjonsbrev

Trekkjer ut java-versjon og -distribusjon til miljøvariablar, så blir dei i det minste synlege
  .github/workflows/brevbaker-api-model.yaml
  .github/workflows/codeql.yml
  .github/workflows/pdfbygger-brevbaker.yml
  .github/workflows/skribenten.yml
  .github/workflows/template-model-generator.yml
  .github/workflows/tjenestebuss-integrasjon.yml
Owners: @navikt/pensjonsbrev

WIP
  pdf-bygger/.nais/async/dev-q2-retry.yaml
  pdf-bygger/.nais/async/dev-q2.yaml
  pdf-bygger/.nais/async/kafka-hpa.yaml
  pdf-bygger/.nais/async/nais.yaml
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/kafka/KafkaModule.kt
  pdf-bygger/src/main/resources/application.conf
  validate-nais.sh
Owners: @navikt/pensjonsbrev

Lettere oppsett for lokal kjøring av brevbaker (#1287)
  brevbaker-dsl/src/main/kotlin/no/nav/pensjon/brev/api/model/FeatureToggle.kt
  brevbaker/src/testFixtures/kotlin/no/nav/brev/brevbaker/IntegrationTestUtils.kt
  pensjon-brevbaker/README.md
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/BrevbakerAppModule.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/FeatureToggleHandler.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/routing/Routing.kt
  pensjon-brevbaker/src/main/resources/application-local.conf
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/TestBrevbakerApp.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/TestUtils.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/maler/example/LetterExampleTest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/routing/TemplateRoutesTest.kt
  pensjon-brevbaker/src/test/resources/application.conf
Owners: @navikt/pensjonsbrev
