Repository navikt/pensjonsbrev, changes with the owners that CODEOWNERS names for each.
All owners: @navikt/pensjonsbrev, @navikt/etterlatte, @hanneanes, @paomoo

Viser år istedenfor dato i tittel.
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EtteroppgjoerEtterbetalingAutoLegacy.kt
Owners: @hanneanes, @paomoo, @navikt/pensjonsbrev

Viser år istedenfor dato i tittel. (#992)
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EtteroppgjoerEtterbetalingAutoLegacy.kt
Owners: @hanneanes, @paomoo, @navikt/pensjonsbrev

EY-4555: Endrer adresse for brev ved bosatt utland (#965)
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/fraser/common/Constants.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/fraser/common/Felles.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/fraser/common/Postadresse.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/fraser/omstillingsstoenad/OmstillingsstoenadAktivitetspliktFraser.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/omstillingsstoenad/innvilgelse/OmstillingsstoenadInnvilgelse.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/omstillingsstoenad/revurdering/OmstillingsstoenadRevurdering.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/omstillingsstoenad/varsel/OmstillingsstoenadVarselAktivitetsplikt.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/vedlegg/barnepensjon/InformasjonTilDegSomHandlerPaaVegneAvBarnet.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/vedlegg/barnepensjon/InformasjonTilDegSomMottarBarnepensjon.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/vedlegg/omstillingsstoenad/InformasjonOmOmstillingsstoenad.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/etterlatte/fixtures/OmstillingsstoenadVarselAktivitetsplikt.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

EY-4555: Fikser bosattUtland på avvist klagebrev
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/klage/AvvistKlageFerdigstilling.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/klage/AvvistKlageInnhold.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/etterlatte/fixtures/AvvistKlageDTO.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

EY-4555: Fikser bosattUtland på avvist klagebrev (#994)
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/klage/AvvistKlageFerdigstilling.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte/maler/klage/AvvistKlageInnhold.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/etterlatte/fixtures/AvvistKlageDTO.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

Endre max scaling og legg til gauge for aktive compiles
  pdf-bygger/.nais/nais.yaml
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/ActiveCounter.kt
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/PdfByggerApp.kt
  pdf-bygger/src/test/kotlin/no/nav/pensjon/brev/pdfbygger/ActiveCounterTest.kt
Owners: @navikt/pensjonsbrev

Endre max scaling og legg til gauge for aktive compiles (#995)
  pdf-bygger/.nais/nais.yaml
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/ActiveCounter.kt
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/PdfByggerApp.kt
  pdf-bygger/src/test/kotlin/no/nav/pensjon/brev/pdfbygger/ActiveCounterTest.kt
Owners: @navikt/pensjonsbrev

Legg til namedReference og fiks Rett til innsyn
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/OpphoerBarnetilleggAuto.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/UfoerOmregningEnslig.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/UngUfoerAuto.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/fraser/common/Felles.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektLegacy.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/template/IncludeAttachment.kt
Owners: @hanneanes, @paomoo, @navikt/pensjonsbrev

Fiks HarDuSpoersmaal
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/OmsorgEgenAuto.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/OpphoerBarnetilleggAuto.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/OpptjeningVedForhoeyetHjelpesats.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/UfoerOmregningEnslig.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/UngUfoerAuto.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/adhoc/AdhocVarselOpphoerMedHvilendeRett.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/fraser/common/Felles.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/fraser/ufoer/Ufoeretrygd.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/fraser/vedlegg/VedleggOrienteringOmRettigheter.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EndretUfoeretrygdPGAInntektLegacy.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/EtteroppgjoerEtterbetalingAutoLegacy.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/redigerbar/OrienteringOmSaksbehandlingstid.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler/ufoereBrev/VarselSaksbehandlingstidAuto.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/template/IncludeAttachment.kt
Owners: @hanneanes, @paomoo, @navikt/pensjonsbrev

CODEOWNERS:

* @navikt/pensjonsbrev
/pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/etterlatte @navikt/etterlatte @navikt/pensjonsbrev
/pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/etterlatte @navikt/etterlatte @navikt/pensjonsbrev
/pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/maler @hanneanes @paomoo @navikt/pensjonsbrev
/pensjon-brevbaker-api-model @hanneanes @paomoo @navikt/pensjonsbrev
/gradle.properties @hanneanes @paomoo @navikt/pensjonsbrev
