Repository navikt/pensjonsbrev, changes with the owners that CODEOWNERS names for each.
All owners: @navikt/pensjonsbrev, @navikt/etterlatte, @navikt/ufore, @navikt/pensjon-alder

CODEOWNERS:

* @navikt/pensjonsbrev
/etterlattemaler @navikt/etterlatte @navikt/pensjonsbrev
/pensjonsmaler @navikt/ufore @navikt/pensjon-alder @navikt/pensjonsbrev
/pensjon-brevbaker-api-model @navikt/ufore @navikt/pensjon-alder @navikt/pensjonsbrev
/alder-brevbaker-api-model @navikt/pensjon-alder @navikt/pensjonsbrev
/aldersmaler @navikt/pensjon-alder @navikt/pensjonsbrev
/ufoere-brevbaker-api-model @navikt/ufore @navikt/pensjonsbrev
/ufoeremaler @navikt/ufore @navikt/pensjonsbrev

Nye PDF'er og navn på pdf'er.
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/pdfvedlegg/VedleggAppender.kt
  pensjon-brevbaker/src/main/resources/vedlegg/InformasjonOmP1-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side1-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side1-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side2-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side2-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side3-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side3-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side4-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side4-ENGLISH.pdf
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/PDFVedleggTest.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/vedlegg/pdf/P1PDFDto.kt
Owners: @navikt/pensjonsbrev, @navikt/ufore, @navikt/pensjon-alder

UFO-163
  ufoere-brevbaker-api-model/gradle.properties
  ufoere-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/ufore/api/model/maler/redigerbar/UforeAvslagUtenVurderingDto.kt
  ufoeremaler/build.gradle.kts
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagYrkesskadeIkkeGodkjent.kt
  ufoeremaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
Owners: @navikt/ufore, @navikt/pensjonsbrev

Fjerner unødvendig overstyring av defaultAppearance.
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/pdfvedlegg/VedleggAppender.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/PDFVedleggTest.kt
Owners: @navikt/pensjonsbrev

Unødvendig import.
  brevbaker-dsl/src/main/kotlin/no/nav/pensjon/brev/template/vedlegg/PDFDSL.kt
Owners: @navikt/pensjonsbrev

Legg inn lenke til nav.no/fullmakt + telefonnummer
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/adhoc/fullmakterbprof/AdHocVarselUgyldiggjoringFullmaktsgiver.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/adhoc/fullmakterbprof/AdHocVarselUgyldiggjoringFullmektig.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Netty-codec-versjonen brukt i Ktor 3.3.0 er sårbar, så oppgraderer til 3.3.1
  gradle/libs.versions.toml
Owners: @navikt/pensjonsbrev

Uferdig versjon
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/redigerbar/InnvilgelseUforetrygd.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Fjernet ikke lengre benyttet attributt
  ufoere-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/ufore/api/model/maler/redigerbar/UforeAvslagUtenVurderingDto.kt
  ufoeremaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
Owners: @navikt/ufore, @navikt/pensjonsbrev

oppdaterer ordlyd i oms vedtak
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/fraser/omstillingsstoenad/OmstillingsstoenadFellesFraser.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

UFO-163 (#2318)
  ufoere-brevbaker-api-model/gradle.properties
  ufoere-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/ufore/api/model/maler/redigerbar/UforeAvslagUtenVurderingDto.kt
  ufoeremaler/build.gradle.kts
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagHensiktsmessigArbTiltakI1.kt
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagHensiktsmessigArbTiltakI2.kt
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagHensiktsmessigBehandling.kt
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagUngUfor26.kt
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagUngUfor36.kt
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagYrkesskadeIkkeGodkjent.kt
  ufoeremaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
Owners: @navikt/ufore, @navikt/pensjonsbrev

oppdaterer ordlyd i oms vedtak (#2321)
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/fraser/omstillingsstoenad/OmstillingsstoenadFellesFraser.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

Fiks staving
  aldersmaler/src/main/kotlin/brev/aldersovergang/VedtakEndringAFPEndretOpptjeningAuto.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev

Rettet i visningsregelen for ArbeidsinntektOgAlderspensjon (#2316)
  aldersmaler/src/main/kotlin/brev/vedlegg/maanedligPensjonFoerSkatt/TabellMaanedligPensjon.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/fraser/alderspensjon/AlderspensjonFelles.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/fraser/vedlegg/maanedligPensjonFoerSkatt/TabellMaanedligPensjon.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev, @navikt/ufore

PEB-1287 Brevkoder og DTOer for Adhoc brev: Informasjonsbrev om ugyld… (#2306)
  pensjon-brevbaker-api-model/gradle.properties
  pensjon-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/api/model/maler/Pesysbrevkoder.kt
  pensjon-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/api/model/maler/adhoc/fullmakterbprof/FullmaktsgiverBprofAutoDto.kt
  pensjon-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/api/model/maler/adhoc/fullmakterbprof/FullmektigBprofAutoDto.kt
  pensjonsmaler/build.gradle.kts
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ProductionTemplates.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/adhoc/fullmakterbprof/AdHocVarselUgyldiggjoringFullmaktsgiver.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/adhoc/fullmakterbprof/AdHocVarselUgyldiggjoringFullmektig.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/adhoc/fullmakterbprof/AdHocVarselUgyldiggjoringFullmaktsgiverDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/adhoc/fullmakterbprof/AdHocVarselUgyldiggjoringFullmektigDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/adhoc/AdhocTest.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Rettet henvisning til vedlegg
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/alder/InnvilgelseAvAlderspensjonAuto.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/redigerbar/InnvilgelseAvAlderspensjon.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/alder/InnvilgelseAvAlderspensjonAutoTest.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Tekstendringer i PE_VARSEL_OM_TILBAKEKREVING_FEILUTBETALT_BELOEP
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/redigerbar/VarselTilbakekrevingAvFeilutbetaltBeloep.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Uppar versjonar
  alder-brevbaker-api-model/gradle.properties
  aldersmaler/build.gradle.kts
  brevbaker-api-model-common/gradle.properties
  gradle/libs.versions.toml
  pensjon-brevbaker-api-model/gradle.properties
  pensjonsmaler/build.gradle.kts
  ufoere-brevbaker-api-model/gradle.properties
  ufoeremaler/build.gradle.kts
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev, @navikt/ufore

Fiks codeqlbygg (#2303)
  .github/workflows/codeql.yml
Owners: @navikt/pensjonsbrev

Rettet vedleggBeregnPensjonsbeholdningOgTrygdetid
  aldersmaler/src/main/kotlin/brev/vedlegg/opplysningerbruktiberegningen/OpplysningerBruktIBeregningenAlderAP2025.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev

Fiks staving (#2322)
  aldersmaler/src/main/kotlin/brev/aldersovergang/VedtakEndringAFPEndretOpptjeningAuto.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev

P1 med innebyggd source sans 3 (#2319)
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/pdfvedlegg/VedleggAppender.kt
  pensjon-brevbaker/src/main/resources/fonts/LICENSE.txt
  pensjon-brevbaker/src/main/resources/fonts/SourceSans3-Regular.ttf
  pensjon-brevbaker/src/main/resources/vedlegg/InformasjonOmP1-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/InformasjonOmP1-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side1-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side1-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side2-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side2-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side3-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side3-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side4-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side4-ENGLISH.pdf
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/PDFVedleggTest.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/vedlegg/pdf/P1PDFDto.kt
Owners: @navikt/pensjonsbrev, @navikt/ufore, @navikt/pensjon-alder

Rettet vedleggBeregnPensjonsbeholdningOgTrygdetid
  aldersmaler/src/main/kotlin/brev/vedlegg/opplysningerbruktiberegningen/OpplysningerBruktIBeregningenAlderAP2025.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/vedlegg/OpplysningerBruktIBeregningenAlderAP2025.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/alder/InnvilgelseAvAlderspensjonAutoDto.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev, @navikt/ufore

korrigering av tekst i informasjon om klage og anke
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/vedlegg/KlageOgAnke.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

Rettet henvisning til vedlegg (#2323)
  aldersmaler/src/main/kotlin/brev/vedlegg/opplysningerbruktiberegningen/OpplysningerBruktIBeregningenAlderAP2025.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/alder/InnvilgelseAvAlderspensjonAuto.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/redigerbar/InnvilgelseAvAlderspensjon.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/vedlegg/OpplysningerBruktIBeregningenAlderAP2025.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/alder/InnvilgelseAvAlderspensjonAutoDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/alder/InnvilgelseAvAlderspensjonAutoTest.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev, @navikt/ufore

korrigering av tekst i informasjon om klage og anke (#2326)
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/vedlegg/KlageOgAnke.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

Fikset elmeentære konverteringsissues
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/redigerbar/InnvilgelseUforetrygd.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Uppar versjonar (#2325)
  alder-brevbaker-api-model/gradle.properties
  aldersmaler/build.gradle.kts
  brevbaker-api-model-common/gradle.properties
  gradle/libs.versions.toml
  pensjon-brevbaker-api-model/gradle.properties
  pensjonsmaler/build.gradle.kts
  ufoere-brevbaker-api-model/gradle.properties
  ufoeremaler/build.gradle.kts
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev, @navikt/ufore

Tillat eksplisitt commit uten hooks
  .vscode/settings.json
Owners: @navikt/pensjonsbrev

Trenger list for å få sendt det sortert fra PEN
  alder-brevbaker-api-model/gradle.properties
  alder-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/model/alder/aldersovergang/VedtakEndringAFPEndretOpptjeningAutoDto.kt
  aldersmaler/build.gradle.kts
  aldersmaler/src/test/kotlin/brev/maler/aldersovergang/VedtakEndringAFPEndretOpptjeningAutoDto.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev

Trenger list for å få sendt det sortert fra PEN (#2327)
  alder-brevbaker-api-model/gradle.properties
  alder-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/model/alder/aldersovergang/VedtakEndringAFPEndretOpptjeningAutoDto.kt
  aldersmaler/build.gradle.kts
  aldersmaler/src/test/kotlin/brev/maler/aldersovergang/VedtakEndringAFPEndretOpptjeningAutoDto.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev

Blokker pre-commit lint hvis npm install ikke er kjørt
  skribenten-web/frontend/.husky/pre-commit
Owners: @navikt/pensjonsbrev

Tekstendringer i PE_VARSEL_OM_TILBAKEKREVING_FEILUTBETALT_BELOEP (#2324)
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/redigerbar/VarselTilbakekrevingAvFeilutbetaltBeloep.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Fjernet unødige funksjoner og startet å fjerne feil i språklogikk
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/redigerbar/InnvilgelseUforetrygd.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Fjerner dobbel escape av hoved-tittel.
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/latex/LatexDocumentRenderer.kt
Owners: @navikt/pensjonsbrev

Fjernet unødige funksjoner og startet å fjerne feil i språklogikk
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/redigerbar/InnvilgelseUforetrygd.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Slett ubrukt frase
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/fraser/common/Felles.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Fjerner dobbel escape av hoved-tittel. (#2328)
  pdf-bygger/src/main/kotlin/no/nav/pensjon/brev/pdfbygger/latex/LatexDocumentRenderer.kt
Owners: @navikt/pensjonsbrev

Byttar over til unprocessable entity (#2289)
  skribenten-backend/src/main/kotlin/no/nav/pensjon/brev/skribenten/routes/SakBrev.kt
  skribenten-backend/src/main/kotlin/no/nav/pensjon/brev/skribenten/services/PenService.kt
Owners: @navikt/pensjonsbrev

Startet pånytt, nå med kommaseparering korrekt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/redigerbar/InnvilgelseUforetrygd.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Fjernet FUNKSJON_FF_GetArrayElement_* Erstattet NOTFUNKSJON med not
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/redigerbar/InnvilgelseUforetrygd.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev
