Repository navikt/pensjonsbrev, changes with the owners that CODEOWNERS names for each.
All owners: @navikt/pensjonsbrev, @navikt/etterlatte, @navikt/ufore, @navikt/pensjon-alder

CODEOWNERS:

* @navikt/pensjonsbrev
/etterlattemaler @navikt/etterlatte @navikt/pensjonsbrev
/pensjonsmaler @navikt/ufore @navikt/pensjon-alder @navikt/pensjonsbrev
/pensjon-brevbaker-api-model @navikt/ufore @navikt/pensjon-alder @navikt/pensjonsbrev
/alder-brevbaker-api-model @navikt/pensjon-alder @navikt/pensjonsbrev
/aldersmaler @navikt/pensjon-alder @navikt/pensjonsbrev
/ufoere-brevbaker-api-model @navikt/ufore @navikt/pensjonsbrev
/ufoeremaler @navikt/ufore @navikt/pensjonsbrev

Fix etter merge main
  alder-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/model/alder/vedlegg/MaanedligPensjonFoerSkattAFPDto.kt
  aldersmaler/src/main/kotlin/brev/aldersovergang/VedtakEndringAFPEndretOpptjeningAuto.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev

WIP
  brevbaker-dsl/src/main/kotlin/no/nav/pensjon/brev/template/vedlegg/PDFDSL.kt
  pensjon-brevbaker/src/main/kotlin/no/nav/pensjon/brev/pdfvedlegg/VedleggAppender.kt
  pensjon-brevbaker/src/main/resources/fonts/LICENSE.txt
  pensjon-brevbaker/src/main/resources/fonts/SourceSans3-Regular.ttf
  pensjon-brevbaker/src/main/resources/vedlegg/InformasjonOmP1-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/InformasjonOmP1-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side1-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side1-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side2-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side2-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side3-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side3-ENGLISH.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side4-BOKMAL.pdf
  pensjon-brevbaker/src/main/resources/vedlegg/P1-side4-ENGLISH.pdf
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/PDFVedleggTest.kt
Owners: @navikt/pensjonsbrev

Rettar misvisande namn (#2268)
  .github/workflows/pdfbygger-brevbaker.yml
Owners: @navikt/pensjonsbrev

Køyr byggejobbar ved endringar i github actions-filene
  .github/workflows/brevbaker-api-model.yaml
  .github/workflows/pdfbygger-brevbaker.yml
  .github/workflows/skribenten.yml
  .github/workflows/template-model-generator.yml
  .github/workflows/tjenestebuss-integrasjon.yml
  .github/workflows/verify-brevoppskrift-web.yaml
  .github/workflows/verify-skribenten-web.yaml
Owners: @navikt/pensjonsbrev

Grupperer pdfbox med resten av backend-avhengnadane
  .github/dependabot.yml
Owners: @navikt/pensjonsbrev

La også codeql-sjekken køyre ved endringar i seg sjølv
  .github/workflows/codeql.yml
Owners: @navikt/pensjonsbrev

Revert "La også codeql-sjekken køyre ved endringar i seg sjølv"
  .github/workflows/codeql.yml
Owners: @navikt/pensjonsbrev

La også codeql-sjekken køyre ved endringar i seg sjølv
  .github/workflows/codeql.yml
Owners: @navikt/pensjonsbrev

Skrur av gradle-cachinga for codeql på PR-bygg
  .github/workflows/codeql.yml
Owners: @navikt/pensjonsbrev

Sjekk lint- og type-regler før commit
  skribenten-web/frontend/.husky/pre-commit
  skribenten-web/frontend/lint-staged.config.mjs
  skribenten-web/frontend/package-lock.json
  skribenten-web/frontend/package.json
Owners: @navikt/pensjonsbrev

Klar til merge viss det er i PR-kontekst
  .github/workflows/codeql.yml
Owners: @navikt/pensjonsbrev

Eliminate new eslint error: ref value accessed in render
  skribenten-web/frontend/src/Brevredigering/LetterEditor/components/TableView.tsx
  skribenten-web/frontend/src/routes/saksnummer_/$saksId/brevvelger/-components/brevmal/BrevmalBrevbaker.tsx
  skribenten-web/frontend/src/routes/saksnummer_/$saksId/brevvelger/-components/brevmal/components/BrevmalFormWrapper.tsx
Owners: @navikt/pensjonsbrev

Oppdater navn
  alder-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/model/alder/aldersovergang/VedtakEndringAFPEndretOpptjeningAutoDto.kt
  alder-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/model/alder/vedlegg/MaanedligPensjonFoerSkattAFPDto.kt
  aldersmaler/src/main/kotlin/brev/aldersovergang/VedtakEndringAFPEndretOpptjeningAuto.kt
  aldersmaler/src/main/kotlin/brev/vedlegg/MaanedligPensjonFoerSkattAFP.kt
  aldersmaler/src/main/kotlin/brev/vedlegg/maanedligPensjonFoerSkattAFP/TabellMaanedligPensjonAFP.kt
  aldersmaler/src/test/kotlin/brev/maler/aldersovergang/VedtakEndringAFPEndretOpptjeningAutoDto.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev

Eliminate new eslint error: ref value accessed in render
  brevoppskrift-web/frontend/src/components/DataClasses.tsx
Owners: @navikt/pensjonsbrev

PEB-1287 Brevkoder og DTOer for Adhoc brev: Informasjonsbrev om ugyldiggjøring av fullmakter i BPROF
  pensjon-brevbaker-api-model/gradle.properties
  pensjon-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/api/model/maler/Pesysbrevkoder.kt
  pensjon-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/api/model/maler/adhoc/fullmakterbprof/FullmaktsgiverBprofAutoDto.kt
  pensjon-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/api/model/maler/adhoc/fullmakterbprof/FullmektigBprofAutoDto.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Fiks navn igjen
  alder-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/model/alder/vedlegg/MaanedligPensjonFoerSkattAFPDto.kt
  aldersmaler/src/main/kotlin/brev/vedlegg/MaanedligPensjonFoerSkattAFP.kt
  aldersmaler/src/main/kotlin/brev/vedlegg/maanedligPensjonFoerSkattAFP/TabellMaanedligPensjonAFP.kt
  aldersmaler/src/test/kotlin/brev/maler/aldersovergang/VedtakEndringAFPEndretOpptjeningAutoDto.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev

Vedtak - endring av AFP fordi opptjening er endret (#2143)
  alder-brevbaker-api-model/gradle.properties
  alder-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/model/alder/Aldersbrevkoder.kt
  alder-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/model/alder/aldersovergang/VedtakEndringAFPEndretOpptjeningAutoDto.kt
  alder-brevbaker-api-model/src/main/kotlin/no/nav/pensjon/brev/model/alder/vedlegg/MaanedligPensjonFoerSkattAFPDto.kt
  aldersmaler/build.gradle.kts
  aldersmaler/src/main/kotlin/brev/AlderTemplates.kt
  aldersmaler/src/main/kotlin/brev/aldersovergang/VedtakEndringAFPEndretOpptjeningAuto.kt
  aldersmaler/src/main/kotlin/brev/vedlegg/MaanedligPensjonFoerSkattAFP.kt
  aldersmaler/src/main/kotlin/brev/vedlegg/maanedligPensjonFoerSkattAFP/TabellMaanedligPensjonAFP.kt
  aldersmaler/src/test/kotlin/brev/Fixtures.kt
  aldersmaler/src/test/kotlin/brev/maler/aldersovergang/VedtakEndringAFPEndretOpptjeningAutoDto.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev

401 er ofte ikkje ein teknisk feil, så loggar det som warning heller
  skribenten-web/bff/src/internalRoutes.ts
Owners: @navikt/pensjonsbrev

401 er ofte ikkje ein teknisk feil, så loggar det som warning heller (#2307)
  skribenten-web/bff/src/internalRoutes.ts
Owners: @navikt/pensjonsbrev

Lytt på endringar i byggejobbar (#2302)
  .github/dependabot.yml
  .github/workflows/brevbaker-api-model.yaml
  .github/workflows/pdfbygger-brevbaker.yml
  .github/workflows/skribenten.yml
  .github/workflows/template-model-generator.yml
  .github/workflows/tjenestebuss-integrasjon.yml
  .github/workflows/verify-brevoppskrift-web.yaml
  .github/workflows/verify-skribenten-web.yaml
Owners: @navikt/pensjonsbrev

oppdaterer tekst i revurderingsvedtak for omstillingsstoenad
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/fraser/omstillingsstoenad/OmstillingsstoenadRevurderingFraser.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

Ser ikkje ut som aldersmaler treng model-common-fixtures
  aldersmaler/build.gradle.kts
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev

Ser ikkje ut som ufoeremaler treng model-common-fixtures
  ufoeremaler/build.gradle.kts
Owners: @navikt/ufore, @navikt/pensjonsbrev

Skriv pensjonsmaler bort frå å trenge model-common-fixtures
  pensjonsmaler/build.gradle.kts
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/vedlegg/pdf/P1SomDSLTest.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/model/FormattingTest.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Skadar ikkje å duplisere logikken for å lage felles, så kopierer over til brevbaker-dsl
  brevbaker-dsl/build.gradle.kts
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/model/GenerellFormattingTest.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/BrevTemplateTest.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/EqualsOperationTest.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/ExpressionEvalTest.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/FellesFactory.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/LocalizedFormatterTest.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/OperationsTest.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/dsl/expression/BaseTest.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/dsl/expression/CollectionTest.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/dsl/expression/NumberTest.kt
  brevbaker-dsl/src/test/kotlin/no/nav/pensjon/brev/template/vedlegg/PDFDSLTest.kt
Owners: @navikt/pensjonsbrev

Skadar ikkje å duplisere logikken for å lage felles, så kopierer over til skribenten-backend
  skribenten-backend/build.gradle.kts
  skribenten-backend/src/test/kotlin/no/nav/pensjon/brev/skribenten/services/BrevredigeringServiceTest.kt
Owners: @navikt/pensjonsbrev

Rettet i visningsregelen for ArbeidsinntektOgAlderspensjon
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/fraser/alderspensjon/AlderspensjonFelles.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

Skadar ikkje å duplisere logikken for å lage felles, så kopierer over til brevbaker-modulen
  aldersmaler/src/test/kotlin/brev/Fixtures.kt
  brevbaker/build.gradle.kts
  brevbaker/src/test/kotlin/no/nav/pensjon/brev/template/render/CreateAttachmentTest.kt
  brevbaker/src/test/kotlin/no/nav/pensjon/brev/template/render/LetterRendererTest.kt
  brevbaker/src/testFixtures/kotlin/no/nav/brev/brevbaker/BrevmodulTest.kt
  brevbaker/src/testFixtures/kotlin/no/nav/brev/brevbaker/FellesFactory.kt
  brevbaker/src/testFixtures/kotlin/no/nav/brev/brevbaker/Fixtures.kt
  brevbaker/src/testFixtures/kotlin/no/nav/brev/brevbaker/IntegrationTestUtils.kt
  etterlattemaler/src/test/kotlin/no/nav/pensjon/etterlatte/Fixtures.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/ApplicationITest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/PDFVedleggTest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/api/RedigerbarTemplateResourceTest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/api/TemplateResourceITest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/api/TemplateResourceTest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/maler/example/LetterExampleTest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/routing/BrevtekstITest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/routing/LetterRoutesITest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/template/render/HTMLDocumentRendererTest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/template/render/LatexVisualITest.kt
  pensjon-brevbaker/src/test/kotlin/no/nav/pensjon/brev/template/render/PensjonLatexITest.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/vedlegg/OpplysningerOmEtteropgjoeretTest.kt
  ufoeremaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev, @navikt/etterlatte, @navikt/ufore

oppdaterer tekst i revurderingsvedtak for omstillingsstoenad (#2315)
  etterlattemaler/src/main/kotlin/no/nav/pensjon/etterlatte/maler/fraser/omstillingsstoenad/OmstillingsstoenadRevurderingFraser.kt
Owners: @navikt/etterlatte, @navikt/pensjonsbrev

Ryddar bort FellesFactory frå brevbaker-api-model-common
  brevbaker-api-model-common/build.gradle.kts
  brevbaker-api-model-common/src/testFixtures/kotlin/no/nav/brev/brevbaker/FellesFactory.kt
Owners: @navikt/pensjonsbrev

Deploying to gh-pages from @ navikt/pensjonsbrev@0fb169008a7cda9992c2ad372c8b03b4764548a4 🚀
  index.html
Owners: @navikt/pensjonsbrev

Uferdig versjon
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/legacy/redigerbar/InnvilgelseUforetrygd.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

UFO-163
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagUngUfor36.kt
Owners: @navikt/ufore, @navikt/pensjonsbrev

UFO-163
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagYrkesskadeIkkeGodkjent.kt
Owners: @navikt/ufore, @navikt/pensjonsbrev

Rettet til Guaranteed pension i TabellMaanedligPensjon.kt
  aldersmaler/src/main/kotlin/brev/vedlegg/maanedligPensjonFoerSkatt/TabellMaanedligPensjon.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/fraser/vedlegg/maanedligPensjonFoerSkatt/TabellMaanedligPensjon.kt
Owners: @navikt/pensjon-alder, @navikt/pensjonsbrev, @navikt/ufore

UFO-163
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagHensiktsmessigBehandling.kt
Owners: @navikt/ufore, @navikt/pensjonsbrev

UFO-163
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagHensiktsmessigArbTiltakI1.kt
Owners: @navikt/ufore, @navikt/pensjonsbrev

PEB-1287 Lagt inn Adhoc brev: Informasjonsbrev om ugyldiggjøring av fullmakter i BPROF
  pensjonsmaler/build.gradle.kts
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/ProductionTemplates.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/adhoc/fullmakterbprof/AdHocVarselUgyldiggjoringFullmaktsgiver.kt
  pensjonsmaler/src/main/kotlin/no/nav/pensjon/brev/maler/adhoc/fullmakterbprof/AdHocVarselUgyldiggjoringFullmektig.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/Fixtures.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/adhoc/fullmakterbprof/AdHocVarselUgyldiggjoringFullmaktsgiverDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/fixtures/adhoc/fullmakterbprof/AdHocVarselUgyldiggjoringFullmektigDto.kt
  pensjonsmaler/src/test/kotlin/no/nav/pensjon/brev/maler/adhoc/AdhocTest.kt
Owners: @navikt/ufore, @navikt/pensjon-alder, @navikt/pensjonsbrev

UFO-163
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagHensiktsmessigArbTiltakI1.kt
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagHensiktsmessigArbTiltakI2.kt
Owners: @navikt/ufore, @navikt/pensjonsbrev

UFO-163
  ufoeremaler/src/main/kotlin/no/nav/pensjon/brev/maler/uforeavslag/UforeAvslagUngUfor26.kt
Owners: @navikt/ufore, @navikt/pensjonsbrev
